:root {
	--c0: rgba(25, 20, 30, 1.0);
	--c1: rgba(27, 23, 34, 1.0);
	--c2: #2d6;
	--c3: #0e4;
	--c4: #395;
	--c5: #cc0;
}

.c0 { color: var(--c0); }
.c1 { color: var(--c1); }
.c2 { color: var(--c2); }
.c3 { color: var(--c3); }
.c4 { color: var(--c4); }

.h1, .h5, .h6 {
	margin-top: 0;
	margin-bottom: 2rem;
	font-weight: 300;
}

.h1 { font-size: 3.2rem; }
.h5 { font-size: 1.2rem; }
.h6 { font-size: 0.9rem; }


a {
	color: var(--c4);
	text-decoration-color: transparent;
	transition: color 1s,
				text-decoration-color 1s;
}

a:hover {
	transition: color 0.5s,
				text-decoration-color 0.5s;
	color: var(--c3);
	text-decoration-color: var(--c3);
}

.content {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

.content::-webkit-scrollbar {
    width: 0.5rem;
    background-color: #222;
}
 
.content::-webkit-scrollbar-track {
	background-color: #222;
}
 
.content::-webkit-scrollbar-thumb {
	background-color: var(--c2);
	outline: 1px solid slategrey;
}


.panel {
	position: relative;
	width: 100%;
}

body {
	font-family: "Consolas", monospace;
	margin: 0px;
}

#intro {
	display: flex;
	align-items: center;
	justify-content: left;

	height: 100%;

	background-color: var(--c0);
	background: radial-gradient(circle, #222 0.06em, var(--c0) 0.052em);
	background-size: 1em 1em;
	background-repeat: repeat;
}

#card { margin-left: 5rem; }
#card_name { margin-bottom: 0rem; }
#card_about { 
	width: 35%;
	color: var(--c2);
}

#card_about:before{
	content: '>>> ';
	color: var(--c5);
}
#card_about:after {
	content: '\25AE';
	color: var(--c2);
	animation: blink 1s infinite;
}
@keyframes blink{
	from { width: 0; } 
	to { opacity: .0; }
}

#card_contacts {
	color: var(--c4);
}

@media screen and (max-device-width: 480px) {
	.h1 { font-size: 4.7rem; }
	.h2 { font-size: 4.3rem; }
	.h3 { font-size: 3.7rem; }
	.h4 { font-size: 3.1rem; }
	.h5 { font-size: 3.0rem; }
	.h6 { font-size: 2.3rem; }
	#card_about { width: 77%; }
}
