body {
	font-family: Consolas, monospace;
	color: #2d6;
	margin: 0px;
}

/* panels skelet */

/* INTRO */
#intro {
	justify-content: left;
	height: 100%;
	background-color: var(--c0);
	background: radial-gradient(circle, #222 0.04em, var(--c0) 0.052em);
	background-size: 1em 1em;
	background-repeat: repeat;
}

/* EXPERIENS */
#skills {
	height: 100%;
	background-color: var(--c1);
}

/* WORKS */
#works {
	height: 100%;
	background-color: var(--c1);
}

/* CONTACTS */
#contacts {
	height: 100%;
	background-color: var(--c0);
	background: radial-gradient(circle, #222 0.04em, var(--c0) 0.052em);
	background-size: 1em 1em;
	background-repeat: repeat;
}

#contacts_list {
	margin-top: 4rem;
	margin-bottom: 4rem;
	text-align: start;
	padding-left: 4rem;
	width: 100%;
}