/*@font-face {
    font-family: inconsolata;
    src: url(../font/Inconsolata-Regular.ttf);
}*/

body {
	font-family: consolas;
	color: #2d6;
	margin: 0px;
}

hr {
	border-color: #242;

}

a {
	color: #0e4;
	text-decoration: none;
}
a:hover {
	color: #395;
	text-decoration: underline;
}

#cur {
  animation: blink 1s infinite;
}
@keyframes blink{
	from { width: 0; } 
	to{opacity: .0;}
}

#intro {
	display: flex;
	justify-content: left;
	align-items: center;

	height: 100%;
	background-color: #222;
	padding-right: 30px;
}

#about_me_text {
	text-align: left;
	font-size: 6rem;
	margin-left: 5rem;
}

#name {
	margin-bottom: 0rem;
}

#about {
	font-family: Consolas, monospace;;
}

#super {
	color: #cc0;
}


#experiens {
	height: 100%;
	background-color: #333;
}

#works {
	height: 100%;
	background-color: #222;
}