:root {
	--c0:  ;
	--c1:  ;
	--c2:  ;
	--c3:  ;
	--c4:  ;
	--c5:  ;
	--c6:  ;
}

/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.c0 { color: var(--c0); }
.c1 { color: var(--c1); }
.c2 { color: var(--c2); }
.c3 { color: var(--c3); }
.c4 { color: var(--c4); }
.c5 { color: var(--c5); }
.c6 { color: var(--c6); }

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin-top: 0;
	margin-bottom: 2rem;
	font-weight: 300;
}

.h1 { font-size: 3.2rem; }
.h2 { font-size: 2.8rem; }
.h3 { font-size: 2.2rem; }
.h4 { font-size: 1.6rem; }
.h5 { font-size: 1.2rem; }
.h6 { font-size: 0.9rem; }

@media screen and (max-device-width: 480px) {
	.h1 { font-size: 4.7rem; }
	.h2 { font-size: 4.3rem; }
	.h3 { font-size: 3.7rem; }
	.h4 { font-size: 3.1rem; }
	.h5 { font-size: 3.0rem; }
	.h6 { font-size: 2.3rem; }
}

/* Indents
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.mn-l-3 { margin-left: ; }
.mn-r-3 { margin-right: ; }
.mn-t-3 { margin-top: ; }
.mn-b-3 { margin-bottom: ; }

.mn-l-2 { margin-left: ; }
.mn-r-2 { margin-right: ; }
.mn-t-2 { margin-top: ; }
.mn-b-2 { margin-bottom: ; }

.mn-l-1 { margin-left: ; }
.mn-r-1 { margin-right: ; }
.mn-t-1 { margin-top: ; }
.mn-b-1 { margin-bottom: ; }

.pg-l-3 { padding-left: ; }
.pg-r-3 { padding-right: ; }
.pg-t-3 { padding-top: ; }
.pg-b-3 { padding-bottom: ; }

.pg-l-2 { padding-left: ; }
.pg-r-2 { padding-right: ; }
.pg-t-2 { padding-top: ; }
.pg-b-2 { padding-bottom: ; }

.pg-l-1 { padding-left: ; }
.pg-r-1 { padding-right: ; }
.pg-t-1 { padding-top: ; }
.pg-b-1 { padding-bottom: ; }

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
	color: var(--c4);
	text-decoration: none;
}

a:hover {
	color: var(--c3);
	text-decoration: none;
}

/* Grids
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.wrapper { width: 100%; }

.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
			flex-wrap: wrap;
	padding: 0 15px;
	margin: 0 -15px;
}

.col {
	box-sizing: border-box;
	width: calc(8.33% - 5%);
	margin: 2.5%;
}

.c-lg-1 { width: calc(8.33% - 5%); }
.c-lg-2 { width: calc(16.66% - 5%); }
.c-lg-3 { width: calc(25% - 5%); }
.c-lg-4 { width: calc(33.33% - 5%); }
.c-lg-5 { width: calc(41.66% - 5%); }
.c-lg-6 { width: calc(50% - 5%); }
.c-lg-7 { width: calc(58.33% - 5%); }
.c-lg-8 { width: calc(66.66% - 5%); }
.c-lg-9 { width: calc(75% - 5%); }
.c-lg-10 { width: calc(83.33% - 5%); }
.c-lg-11 { width: calc(91.66% - 5%); }
.c-lg-12 { width: calc(100% - 5%); }

@media screen and (max-device-width: 480px) {
	.c-sm-1 { width: calc(8.33% - 5%); }
	.c-sm-2 { width: calc(16.66% - 5%); }
	.c-sm-3 { width: calc(25% - 5%); }
	.c-sm-4 { width: calc(33.33% - 5%); }
	.c-sm-5 { width: calc(41.66% - 5%); }
	.c-sm-6 { width: calc(50% - 5%); }
	.c-sm-7 { width: calc(58.33% - 5%); }
	.c-sm-8 { width: calc(66.66% - 5%); }
	.c-sm-9 { width: calc(75% - 5%); }
	.c-sm-10 { width: calc(83.33% - 5%); }
	.c-sm-11 { width: calc(91.66% - 5%); }
	.c-sm-12 { width: calc(100% - 5%); }
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul { list-style: circle inside; }
ol { list-style: decimal inside; }
ol, ul {
	padding-left: 0;
	margin-top: 0; 
}
ul ul,
ul ol,
ol ol,
ol ul {
	margin: 1.5rem 0 1.5rem 3rem;
	font-size: 90%; 
}
li { margin-bottom: 1rem; }


/* Utility Classes */

/* Make element full width */
.u-full-width {
	width: 100%;
	box-sizing: border-box; 
}

/* Make sure elements don't run outside containers (great for images in columns) */
.u-max-full-width {
	max-width: 100%;
	box-sizing: border-box; 
}

/* Float either direction */
.u-pull-right { float: right; }
.u-pull-left { float: left; }

/* Clear a float */
.u-cf {
	content: "";
	display: table;
	clear: both;
}
